body {
  /* font-size: 34px; */
  margin: 0;
  padding: 0;
}


ol {
  margin: 0 20px;
}

p, li {
  font-family: verdana;
}

.title-wrapper {
  margin: 0 auto;
  text-align: center;
}

#Top {
  margin: 30px auto;
}

.Navigation {
  background-color: lightblue;
  padding: 10px;
  justify-content: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #fff;
  justify-content: center;

}

.nav-bar__item {
  /* border: 1px solid #fff; */
  /* margin: 0 auto; */
  padding: 10px;
  font-size: 20px;
}

.nav-bar__item:hover {
  /* background-color: #111; */
  background-color: #f0f0f0;
}

.content-wrap {
  margin: 0 auto;
  padding: 10px 20px;
}


.Contact a:hover {
  text-transform: uppercase;
}

#github {
  text-shadow: 0 0 3px #FF0000;
}

#linkedin {
  text-shadow: 0 0 3px #00FF00;
}

.button {
  color: #999;
  background-color: #85eff2;
  font-weight: bold;
  font-size: 20px;
  padding: 2px;
  text-align: center;
  border: 2px solid #999;
  border-radius: 5px;
  width: 200px;
}

.button a {
  text-decoration: none;
  color: #888;
}

.button:hover {
  box-shadow: 2px 2px #888888;
}


@media (min-width: 640px) {

  .page-wrap {
    margin: 0 auto;
    max-width: 900px;
    font-size: 20px;
  }

  .nav-bar {
    flex-direction: row;
  }

  .nav-bar__item {
    font-size: 20px;
  }

}
